<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XplotterGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <XplotterGui.Properties.Settings>
            <setting name="xplotter" serializeAs="String">
                <value />
            </setting>
            <setting name="ID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="threads" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="ram" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="cache" serializeAs="String">
                <value />
            </setting>
            <setting name="space" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="target" serializeAs="String">
                <value />
            </setting>
            <setting name="start" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="drive" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="offset" serializeAs="String">
                <value>50000000</value>
            </setting>
            <setting name="nonces" serializeAs="String">
                <value>30000000</value>
            </setting>
            <setting name="ntp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ntpvalue" serializeAs="String">
                <value>12000000</value>
            </setting>
            <setting name="ftp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ftpvalue" serializeAs="String">
                <value>4000000</value>
            </setting>
        </XplotterGui.Properties.Settings>
    </userSettings>
</configuration>
